
.Chair{
    &.booking{
        background-color: green !important;
        color: white;
    }
    &.booked{
        background-color: grey !important;
        color: white;
        pointer-events: none;
    }
}

.ResultBook{
    .BGRed{
        background-color: green;
        color: green;
        width: 10%;
        height: 40px;
        border:  2px solid black;
    }
    .BGXam{
        border: 2px solid black;
        background-color: #838383;
        color: #838383;
        width: 10%;
            height: 40px;
    }
    .BGWhite{
        border: 2px solid black;
        background-color: white;
            color: white;
            width: 10%;
                height: 40px;
    }
    p{
        font-size: 20px;
        font-weight: 500;
    }
    .Cancel{
        color: red;
        font-size: 20px;
        font-weight: 700;
    }
}
